.window {
    width: 250px;
    overflow: hidden;
    margin-left: 300px;
    margin-top: 30px;
}
.images {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    transition: transform 0.5s;

}
img  {
    flex-shrink: 0;
}
.operator {
    margin-top: 8px;

}